/** biome-ignore-all lint/suspicious/noUnknownAtRules: tailwind */
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  /* biome-ignore lint/correctness/noUnknownProperty: daisyui */
  themes: light --default;
  /* biome-ignore lint/correctness/noUnknownProperty: daisyui */
  logs: false;
}

@utility container {
  @apply max-w-5xl px-8;
}

@theme {
  --font-inter: "Inter Variable";
  --font-inter-tight: "Inter Tight Variable";
  --font-sans:
    var(--font-inter), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "sans-serif";
  --font-display: var(--font-inter-tight), var(--font-sans);
}

@layer base {
  html {
    @apply font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display text-pretty;
  }
}
